<h2><%= l(:label_cash_flow_import) %></h2>

<div class="box">
  <p>
    <%= l(:text_import_instructions) %>
    <%= link_to l(:label_download_template), 
          '/plugin_assets/redmine_cash_flow_pro/import_template.csv',
          class: 'icon icon-download' %>
  </p>
  
  <ul class="import-tips">
    <li><%= l(:text_import_tip_date) %></li>
    <li><%= l(:text_import_tip_amount) %></li>
    <li><%= l(:text_import_tip_types) %></li>
    <li><%= l(:text_import_tip_encoding) %></li>
  </ul>

  <%= form_tag import_cash_flow_entries_path, multipart: true, class: 'import-form' do %>
    <div class="file-upload">
      <%= label_tag :csv_file, l(:label_select_csv_file), class: 'button' %>
      <%= file_field_tag :csv_file, accept: '.csv', class: 'hidden' %>
      <span id="file-name"><%= l(:text_no_file_selected) %></span>
    </div>
    
    <%= submit_tag l(:button_import), class: 'button-positive' %>
  <% end %>
</div>

<%= link_to l(:button_back), cash_flow_entries_path, class: 'icon icon-cancel' %>

<script>
  document.getElementById('csv_file').addEventListener('change', function(e) {
    const fileName = e.target.files[0] ? e.target.files[0].name : '<%= l(:text_no_file_selected) %>';
    document.getElementById('file-name').textContent = fileName;
  });
</script>